<div class="container">
    <div class="wrap">
        <div class="left-side">
            <h1>© 2020 ОАО «Алиф Банк»</h1>
            <h1>Лицензия НБТ №0000114 от 3 января 2020 года</h1>
        </div>
        <div class="right-side">
            <h1>Мы в соцсетях</h1>
            <div class="icons">
                <a href="https://www.facebook.com/alifcapital/"><img src="../../assets/img/icons/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/alif.moments"><img src="../../assets/img/icons/instagram.png" alt="Instagram"></a>
                <a href="https://t.me/alifbank"><img src="../../assets/img/icons/telegram.png" alt="Telegram"></a>
                <a href="http://alif.tj/viber"><img src="../../assets/img/icons/viber.png" alt="Viber"></a>
            </div>
        </div>
    </div>
</div>