.container {
    background-image: url(../../assets/img/alif-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 580px;
}

.wrap {
    padding: 80px 75px;
}

.titles {
    margin-top: 215px;
    max-width: 380px;
    color: white;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 16px;
    margin-top: 20px;
}

@media screen and (max-width: 720px) {
    .titles {
        margin-top: 45px;
    }

    .wrap {
        padding: 50px 75px;
    }

    .container {
        background-image: url(../../assets/img/bg-mobile.png);
        height: 650px;
    }
}

@media screen and (max-width: 490px){
    .wrap {
        padding: 80px 40px;
    }
}